@import "_reset";
@import "_variables";
@import "_mixins";
@import "_extends";
@import "../icon_fonts/style";

* {
  box-sizing: border-box;
}

html {
  height: 100%;

  font-family: $font_1;
  font-weight: 400;
  line-height: 1.33;

  @include bp(1920px, min) {
    font-size: calc(100vw / 1920 * 10);
  }

  @include bp(1920px) {
    font-size: 10px;
  }

  @include bp(380px) {
    font-size: calc(100vw / 380 * 10);
  }
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}