//---------------------------------------------fonts
$font_1: "Poppins", 'Arial', sans-serif;

//---------------------------------------------colors
$black: #000000;
$white: #ffffff;

$gray_1: #eeeeee;
$gray_2: #838383;
$gray_3: #757575;
$gray_4: #7E7E7E;
$gray_5: #F5F5F5;

$red_1: #FFC5C5;
$red_2: #DF0404;

$green_1: #00B087;
$green_2: #16C09861;

$blue_1: #F9FBFF;
$blue_2: #B5B7C0;
$blue_3: #9197B3;
$blue_4: #5932EA;
$blue_5: #292D32;
$blue_6: #404B52;

//---------------------------------------------layout
$page_width: 144rem;
$aside_width: 30.6rem;
$aside_mob_width: 5.4rem;

//---------------------------------------------media points
$point_0: 1300px;
$point_1: 1200px;
$point_2: 1180px;
$point_3: 1179px;
$point_4: 720px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
